.wrapper{
    padding-top: 5rem;
    margin: auto;
    width: 600px;
}
.rm{
    background: red;
    border-radius: 20%;
    color: #fff;
    border:none;
}
.done{
    text-decoration: line-through;        
}